#createEvent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-left: 15%;
    
} 
    .addressSection {
        display: grid;
    }

    input {
        padding: 10px;
        margin: 5px;
        width: -webkit-fill-available;
        border-radius: 1em;
    }

    button {
        padding: 10px;
        margin: 5px;
        border-radius: 1em;
    }
    
    .photoBar {
        width: 100%; 
        padding: 1em;
        padding-top: 4em;
        padding-bottom: 4em;
        background-color: lightgrey;
        text-align: center;
    }

    h4 {
        color: lightgrey;
    }

    .timeSection {
        display: flex;
        justify-content: space-between;

    }

    .stateCountryPostalSection {
        display: flex;
        justify-content: space-between;
    }

    .eventDetails {
        display: flex;
        
    }

    .streetCitySection {
        display: flex;
        justify-content: space-between;
    }

    .otherFeatures {
        display: flex;
        justify-content: space-between;
    }
    
    .dropbtn {
        background-color: var(--color-dark);
        color: var(--color-light);
        font-weight: 900;
        box-shadow: .5rem .5rem 0 var(--color-signal);
        padding: 10px;
        margin: 5px;
        width: -webkit-fill-available;
        border-radius: 1em;
      }
    
      .dropdown {
        position: relative;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        margin-top: 20px;
        border-radius: 1em;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:var(--color-light);
        min-width: 1px;
        box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
        z-index: 1;
      }
    
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {background-color: #ddd;}
    
      .dropdown:hover .dropdown-content {display: block;}
    
      .dropdown:hover .dropbtn {background-color: var(--color-signal);
        box-shadow: .5rem .5rem 0 var(--color-light);}
        
      .checkboxTitle{
          display: flex;
          flex-direction:row;
          margin: 2%;
          font-weight: 700;
        }

    .mapSection {
        display :flex;
        flex-direction: row;
    }

