.messages__container {
  padding-left: 1rem;
}
.sidebar__inner {
  display: flex;
  padding: 28px;
  flex-direction: column;
  overflow: auto;
  flex: 0 0 auto;
}

/* @media only screen and (max-width: 1200px) { */
.event_map {
  margin-left: 10rem;
}
/* } */
.filter_band {
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: white;
  border: 1px solid rgb(104, 102, 102);
  padding: 0.1rem 0.5rem;
  border-radius: 8%;
  background-color: rgb(104, 102, 102);
}

/* font-family: 'Bungee', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
