.messages__container {
  padding-left: 1rem;
}
.sidebar__inner {
    display: flex;
    padding: 28px;
    flex-direction: column;
    overflow: auto;
    flex: 0 0 auto;
}

/* @media only screen and (max-width: 1200px) { */
.event_map{
   margin-left: 10rem;
}
/* } */

/* font-family: 'Bungee', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */