.messages__sidebar {
  display: flex;
  width: 500px;
  margin-right: 10px;
  flex-direction: column;
  cursor: pointer;
}
.items__item:hover {
  box-shadow: 0 0 11px #6980f3;
  border-radius: 8px;
}

.duration_number {
  display: flex;
  margin-bottom: 2px;
  font-size: 0.8rem;
  justify-content: flex-start;
  padding: 0;
  margin-top: 10px;
  align-self: center;
  flex-wrap: wrap;
}
.eventButton {
  background: #92a5ef;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  color: white;
  height: 2.5rem;
  width: 50%;

  border-radius: 10px;
  margin: 5px 5px;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  /* z-index: 2; */
  box-shadow: 0 3px 5px 2px rgba(148, 143, 144, 0.3);
  cursor: pointer;
}
.items_stroke {
  width: 410px;
}
.more_info {
  background: #92a5ef;
  font-size: 12px;
  font-weight: bold;
  border: 10;
  color: white;
  height: 2.5rem;
  width: 5rem;
  float: right;
  border-radius: 10px;
  margin: 5px 5px;

  box-shadow: 0 3px 5px 2px rgba(148, 143, 144, 0.3);
  cursor: pointer;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 85%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow: hidden;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}



