.messages__sidebar {
  display: flex;
  width: 500px;
  margin-right: 10px;
  flex-direction: column;
  cursor: pointer;
}
.items__item:hover {
  box-shadow: 0 0 11px #6980F3;
  border-radius: 8px;
}

.duration_number {
  display: flex;
  margin-bottom: 2px;
  font-size: 0.8rem;
  justify-content: flex-start;
  padding: 0;
  margin-top: 10px;
  align-self: center;
  flex-wrap: wrap;
}
.eventButton {
  background: #92a5ef;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  color: white;
  height: 2.5rem;
  width: 50%;

  border-radius: 10px;
  margin: 5px 5px;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  /* z-index: 2; */
  box-shadow: 0 3px 5px 2px rgba(148, 143, 144, 0.3);
  cursor: pointer;
}
.items_stroke {
  width: 410px;
}
.more_info {
  background: #92a5ef;
  font-size: 12px;
  font-weight: bold;
  border: 10;
  color: white;
  height: 2.5rem;
  width: 5rem;
  float:right;
  border-radius: 10px;
  margin: 5px 5px;


  box-shadow: 0 3px 5px 2px rgba(148, 143, 144, 0.3);
  cursor: pointer;
}


/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:1000;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 85%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow: hidden;

}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
 color: white;
  font-size: 20px;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 1rem;
  padding: 0;
  list-style-type: none;
  border-radius: 100px;
  height: 80%;
  width: 100%;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #92a5ef;  
}

.card__status {
  font-size: .8em;
  color: #92a5ef;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #92a5ef;
  font-size: medium;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}   

.event_details{

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
     position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.event_features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    margin: 0 1rem;
}
.features_m {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: static;
  width: 10rem;
  height: 10rem;
  background: #E0EEF7;
   border-radius: calc(var(--curve) * 1px); 
}
.features_m_n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: static;
  width: 10rem;
  height: 10rem;
  border: 5px solid  #E0EEF7;
   border-radius: calc(var(--curve) * 1px); 
}
.features_v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: static;
  width: 10rem;
  height: 10rem;
  background: #D3EEDC;
  border-radius: calc(var(--curve) * 1px); 
}
.features_v_n {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: static;
  width: 10rem;
  height: 10rem;
  border: 5px solid #D3EEDC;
  border-radius: calc(var(--curve) * 1px); 
}
.feature_icon{
  padding-top: 1rem;
}
.details {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 8rem;
font-size: small;
border: 0;
}
.card_map {
  position: relative;
  display: block;
  width:110%;
  margin-top: 2rem;
  padding-right: 2rem;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.JoinButton {
  background-color: #6980F3;
  color: white;
  padding: 10px 20px;
  margin: 1rem 1rem 2rem 1rem;
  float: right;
  border-radius: 10px;
}