.container {
  margin-top: 1rem;
}
.input-group-append {
  width: 2.5rem;
}
.icon {
  background-color: rgba(206, 91, 91, 0.632);
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}
